.sorting-visualizer-container {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bar-container {
  display: flex;
  align-items: flex-end;
}

.nav {
  margin-bottom: 2vh;
}
