.nav {
  /* margin-top: 2vh; */
  position: relative;
  padding: 0 2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  min-height: 10vh;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
}

.modal-container {
  z-index: 1001;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 35vmax;
  min-height: 40vmax;
  max-width: 100%;
  max-height: 100%;
  /* min-width: 75vw;
  min-height: 45vmax; */

  /* padding: 5vmin 5vmin; */
  /* background-color: hsla(0, 0%, 10%, 0.3); */
  background-color: var(--background-color-2);
  /* top: 20vh; */
  /* top: 10vh; */
  /* right: 30vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
  position: absolute;
  top: 1px;
  right: 1vh;
  font-size: 2em;
  cursor: pointer;
  z-index: 1002;
}

.nav-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav-controllers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
}

.nav-controllers input[type="range"] {
  flex: 1;
}

.nav__form {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav__form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vmax 0;
  width: 100%;
}

.button {
  color: var(--text-color-lb, hsl(0, 0%, 0%));
  background-color: var(
    --background-color-3,
    hsl(0, 0%, 91%)
  );
  border: var(--background-color-3, hsl(0, 0%, 91%)) 2px
    solid;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.button:hover {
  color: var(--text-color-db, hsl(0, 0%, 0%));
  background-color: var(
    --background-color-3-hover,
    hsl(0, 0%, 91%)
  );
  border: var(--background-color-3-hover, hsl(0, 0%, 91%))
    2px solid;
}

.play-pause {
  background-color: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-component {
  width: 35px;
  height: 35px;
  fill: var(--background-color-3);
  margin: 2vmax;
  cursor: pointer;
  /* filter: drop-shadow(
    0px 0px 1px var(--background-color-3-hover)
  ); */
}
.svg-component:hover {
  fill: var(--background-color-3-hover-2);
  /* filter: drop-shadow(
    0px 0px 1px var(--background-color-3)
  ); */
}
