.navbar {
  position: relative;
  padding: 0 2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  min-height: 10vh;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
}

.modal-container {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 35vmax;
  min-height: 40vmax;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--background-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
  z-index: 1002;
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 2em;
  cursor: pointer;
  padding: 0 2vmax;
}

.nav-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%;
}

.nav-settings-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vmax 0;
  width: 100%;
}

#sort-type {
  background-color: var(--background-color-3);
  border: var(--background-color-3) 2px
    solid;
  border-radius: var(--border-radius);
  cursor: pointer;
}

#bar-count,
#animation-speed {
  min-width: 42%;
}

#bar-count,
#animation-speed,
#sort-timeline {
  cursor: pointer;
}

.nav-controllers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
}

#sort-timeline {
  flex: 1;
}

.button {
  color: var(--text-color-lb);
  background-color: var(
    --background-color-3
  );
  border: var(--background-color-3) 1px
    solid;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.button:hover {
  color: var(--text-color-db);
  background-color: var(--background-color-3-hover);
  border: var(--background-color-3-hover) 1px solid;
}

.flow-control,
.sort-settings {
  background-color: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-component {
  width: 35px;
  height: 35px;
  fill: var(--background-color-3);
  margin: 2vmax;
  cursor: pointer;
  /* filter: drop-shadow(
    0px 0px 1px var(--background-color-3-hover)
  ); */
}
.svg-component:hover {
  fill: var(--background-color-3-hover-2);
  /* filter: drop-shadow(
    0px 0px 1px var(--background-color-3)
  ); */
}

.info {
  position: relative;
  cursor: help;
}
.info:hover::after,
.info:focus::after {
  content: attr(data-info-title);
  padding: 1vmax;
  width: max-content;
  text-align: center;
  font-size: 18px;
  color: #eee;
  border: 1px solid #fff5;
  border-radius: 5px;
  position: absolute;
  background: #000e;
}

@media only screen and (min-width: 768px) {
  .navbar {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    font-size: 23px;
  }
}
