.nav {
  /* margin-top: 2vh; */
  padding: 0 2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* min-width: 100%; */
}

.nav-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

.nav-controllers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  margin: 2vh;
}

.nav-controllers input[type="range"] {
  flex: 1;
}

.nav__form {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav__form__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
