.nav {
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
}

.nav__form {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__form__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
